<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <nav role="navigation"> 
           <img src="/images/logo.png" class="logo">
            <ul class="nav-items">
                <li class="home">
                    <a href="/">   
                       <svg version="1.1" id="Laag_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-134 346.5 572 499"
                             style="enable-background:new -134 346.5 572 499;" xml:space="preserve">
                        <title>discover</title>
                        <desc>Created with Sketch.</desc>
                        <g>
                            <path d="M262.4,582.9c-16.5,0-29.8,5.3-41,16.5c-11.2,11.2-16.5,25.1-16.5,41s6,29.8,17.2,41.7s25.1,17.9,40.4,17.9
                                c15.9,0,29.8-6,40.4-17.2c11.2-11.2,16.5-25.8,16.5-43c0-15.9-5.3-29.1-16.5-40.3C291.5,588.8,278.3,582.9,262.4,582.9z"/>
                            <path d="M42.7,582.9c-16.5,0-29.8,5.3-41,16.5c-11.2,11.2-16.5,25.1-16.5,41s6,29.8,17.2,41.7s25.1,17.9,40.4,17.9
                                c15.9,0,29.8-6,40.4-17.2c11.2-11.2,16.5-25.8,16.5-43c0-15.9-5.3-29.1-16.5-40.3C71.2,588.8,57.9,582.9,42.7,582.9z"/>
                            <path d="M359,447.9c-33.1-5.3-66.2-9.3-99.9-11.9l69.5-69.4c2-2,3.3-5.3,3.3-7.9s-1.3-6-3.3-7.9c-4.6-4.6-11.2-4.6-15.9,0
                                L230,433.4l-10.6-23.1h-67.5H84.4l-10.6,23.1l-82.7-82.7c-2-2-5.3-3.3-7.9-3.3c-2.6,0-6,1.3-7.9,3.3c-4.6,4.6-4.6,11.2,0,15.9
                                L44.7,436c-33.1,2.6-66.8,6.6-99.9,11.9c-43.7,7.3-78.1,45-78.1,80v220.2c0,35.1,34.4,72.7,78.1,80c137,21.8,277.9,21.8,414.8,0
                                c43.7-7.3,78.1-45,78.1-80V528C437.7,492.9,402.6,455.2,359,447.9z M130.7,677.4c-4.6,11.9-11.2,21.8-19.8,31.1
                                c-9.3,9.3-19.2,16.5-31.1,21.8s-23.8,7.3-37.1,7.3c-13.9,0-26.5-2.6-37.7-7.3c-11.9-4.6-21.8-11.9-31.1-21.8
                                c-8.6-9.3-15.2-19.2-19.2-31.1c-5.3-11.2-7.9-23.1-7.9-36.4c0-27.1,9.3-49.6,27.8-68.1c18.5-18.5,41-27.8,68.1-27.8
                                c12.6,0,23.8,2.6,35.7,7.3c11.2,4.6,21.8,11.2,30.4,20.5c9.3,9.3,16.5,19.2,21.2,31.1c4.6,11.9,7.3,23.8,7.3,36.4
                                C137.3,653.6,135.3,665.5,130.7,677.4z M351,677.4c-4.6,11.9-11.2,21.8-19.8,31.1c-9.3,9.3-19.2,16.5-31.1,21.8s-23.8,7.3-37.1,7.3
                                c-13.9,0-26.5-2.6-37.7-7.3s-21.8-11.9-31.1-21.8c-8.6-9.3-15.2-19.2-19.2-31.1c-6-11.2-7.9-23.1-7.9-36.4
                                c0-27.1,9.3-49.6,27.8-68.1s41-27.8,68.1-27.8c12.6,0,23.8,2.6,35.7,7.3c11.2,4.6,21.8,11.2,30.4,20.5c9.3,9.3,16.5,19.2,21.2,31.1
                                c4.6,11.9,7.3,23.8,7.3,36.4C357.6,653.6,355.7,665.5,351,677.4z"/>
                        </g>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="latest">
                    <a href="https://looklive.com/discover/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-190 345.5 460 500"><title>following</title><path d="M142.2 595.5c0-57.5-46.6-104.2-104.2-104.2S-66.2 538-66.2 595.5-19.5 699.7 38 699.7s104.2-46.6 104.2-104.2zm-166.7 0c0-34.5 28-62.5 62.5-62.5s62.5 28 62.5 62.5S72.5 658 38 658s-62.5-27.9-62.5-62.5zM100.5 408c0-34.5-28-62.5-62.5-62.5s-62.5 28-62.5 62.5 28 62.5 62.5 62.5 62.5-27.9 62.5-62.5zm-83.3 0c0-11.5 9.3-20.8 20.8-20.8s20.8 9.3 20.8 20.8-9.3 20.8-20.8 20.8-20.8-9.2-20.8-20.8zM100.5 783c0-34.5-28-62.5-62.5-62.5s-62.5 28-62.5 62.5 28 62.5 62.5 62.5 62.5-27.9 62.5-62.5zm-83.3 0c0-11.5 9.3-20.8 20.8-20.8s20.8 9.3 20.8 20.8-9.3 20.8-20.8 20.8-20.8-9.2-20.8-20.8zM238 547.6c29.9-17.3 40.1-55.5 22.9-85.4-17.3-29.9-55.5-40.1-85.4-22.9-29.9 17.3-40.1 55.5-22.9 85.4 17.2 29.9 55.5 40.1 85.4 22.9zm-41.7-72.2c10-5.8 22.7-2.3 28.5 7.6 5.8 10 2.3 22.7-7.6 28.5s-22.7 2.3-28.5-7.6c-5.8-10-2.4-22.8 7.6-28.5zM-95.4 755.9c29.9-17.3 40.1-55.5 22.9-85.4-17.3-29.9-55.5-40.1-85.4-22.9-29.9 17.3-40.1 55.5-22.9 85.4 17.3 29.9 55.5 40.1 85.4 22.9zm-41.6-72.2c10-5.8 22.7-2.3 28.5 7.6s2.3 22.7-7.6 28.5-22.7 2.3-28.5-7.6c-5.8-10-2.4-22.7 7.6-28.5zM175.5 755.9c29.9 17.3 68.1 7 85.4-22.9 17.3-29.9 7-68.1-22.9-85.4-29.9-17.3-68.1-7-85.4 22.9-17.3 29.9-7 68.1 22.9 85.4zm41.6-72.2c10 5.8 13.4 18.5 7.6 28.5-5.8 10-18.5 13.4-28.5 7.6-10-5.8-13.4-18.5-7.6-28.5s18.6-13.3 28.5-7.6zM-157.9 547.6c29.9 17.3 68.1 7 85.4-22.9 17.3-29.9 7-68.1-22.9-85.4-29.9-17.3-68.1-7-85.4 22.9-17.2 29.9-7 68.1 22.9 85.4zm41.7-72.2c10 5.8 13.4 18.5 7.6 28.5-5.8 10-18.5 13.4-28.5 7.6-10-5.8-13.4-18.5-7.6-28.5 5.8-10 18.5-13.4 28.5-7.6z"/></svg>
                        Latest
                    </a>
                </li>
                <li class="people">
                    <a href="https://looklive.com/people/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-138 344.5 565 502"><title>people</title><path d="M387.5 528.3H223.1l-51.7-150.2c-15-43.6-39.3-43.6-54.3 0L65.3 528.3H-99.1c-46.1 0-51.7 19.6-12.4 43.8l131.8 81.2-44 149.1c-13 44.2 6.1 57.4 42.8 29.5l125.1-95.3 125.1 95.3c36.7 27.9 55.8 14.7 42.8-29.5l-44-149.1 131.8-81.2c39.3-24.2 33.7-43.8-12.4-43.8zm-243 166.4c-40.3 0-73-32.6-73-72.9s32.7-72.9 73-72.9 73 32.6 73 72.9-32.7 72.9-73 72.9z"/><ellipse cx="144.5" cy="621.8" rx="31.3" ry="31.2"/></svg>
                        

                        People
                    </a>
                </li>
                <li class="shows">
                    <a href="https://looklive.com/shows/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-120 345.5 601 500"><title>shows</title><circle cx="364.2" cy="458" r="37.5"/><path d="M430.6 345.5h-500c-27.6 0-50 22.4-50 50v325.1c0 27.6 22.4 50 50 50h200v36.3c-61.5 14.7-125 38.7-125 38.7h400s-82.6-30.8-150-44.1v-30.9h175c27.6 0 50-22.4 50-50V395.5c0-27.6-22.4-50-50-50zm0 375.1h-500V395.5h500v325.1z"/></svg>
                        Shows
                    </a>
                </li>
                <li class="music">
                    <a href="https://looklive.com/music/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-375 550.5 90 90"><title>noun_79685_cc</title><path d="M-312.9 580.4c-1.5-.9-3-1.7-4.5-2.6-1.7-1-3.2-2-4.7-3.2-1.5-1.2-3-2.4-4.5-3.5-.8-.6-1.3-.2-1.3.8v32c-2.1-1.5-4.8-2.5-7.8-2.5-6.5 0-11.7 4.4-11.7 9.8s5.2 9.8 11.7 9.8c4.3 0 8.3-1.9 10.2-4.9 1.9-3.1 1.6-7.9 1.6-10.8-.1-6.9 0-13.7 0-20.6 1.1.8 2.4 1.5 3.5 2.1l1.8.9c1.6.8 3.1 1.5 4.8 2.3.4.2.7.3 1 .4.6.1.6-.6.6-1.3v-7.4c-.2-.7-.2-1-.7-1.3z"/><path d="M-285 551.3c0-.8.1-.8-.7-.8h-2.5c-.8 0-.7 0-.7.8v1.9c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-1.7c0-1.1.1-1-1-1h-1.9c-1 0-1-.2-1 .8v3.1c0 2.1-1.8 3.9-3.9 3.9h-50.8c-2.1 0-3.9-1.8-3.9-3.9v-3.2c0-.8-.3-.7-1.9-.7h-11.6c-2.3 0-2.1-.3-2.1 2 0 28.5.1 57.5 0 86 0 1.8-.4 1.9 1.4 1.9h1.4c1.6 0 1.2-.2 1.2-1.8v-.9c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v1.3c0 1.5-.2 1.4 1.3 1.4h1.3c1.1 0 1.3 0 1.3-.4v-3.6c0-2.1 1.8-3.9 3.9-3.9h50.8c2.1 0 3.9 1.8 3.9 3.9v1.9c0 2.4 0 2 2.3 2h10.6c2.7 0 2.6.4 2.6-2.3v-86.7zm-86 8.4c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2zm0 20.9v-5.2c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3zm7.8 10.4v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3V591c0-.7.6-1.3 1.3-1.3h5.2c.8 0 1.3.5 1.3 1.3zm-7.8 15.6c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2zm7.9 20.8c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2zm62.4-2.6c0 2.2-1.8 4-4 4h-50.6c-2.2 0-4-1.8-4-4v-58.4c0-2.2 1.8-4 4-4h50.6c2.2 0 4 1.8 4 4v58.4zm4-61.2c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2zm-.1 15.7c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2zm7.9 15.6v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3zm-7.9 15.6c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2zm7.9 20.9c0 .7-.6 1.3-1.3 1.3h-5.2c-.7 0-1.3-.6-1.3-1.3v-5.2c0-.7.6-1.3 1.3-1.3h5.2c.7 0 1.3.6 1.3 1.3v5.2z"/></svg>
                        Music
                    </a>
                </li>
                <li class="brands">
                    <a href="https://looklive.com/brands/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-395 570.5 50 50"><path d="M-390.5 609.7v-.4c0-.1.1-.3.1-.4.1-1.1.2-2.1.4-3.2l.6-5.4.6-5.4c.2-2.1.5-4.2.7-6.2.1-.7.2-1.3.2-2h35.9c0 .1.1.2.1.3.2 2 .4 4 .7 6 .2 2.3.5 4.5.7 6.8l.9 7.8c.1.6.2 1.2.2 1.7v.4c-2.2.3-4.4.6-6.5.9-3.4.5-6.7 1-10.1 1.4-.5.1-.9.1-1.4.2-.8-4.2-1.7-8.4-2.5-12.5h-.1c-.8 4.2-1.7 8.3-2.5 12.5l-2.1-.3-8.1-1.2c-2.6-.3-5.2-.7-7.8-1zM-352 584h-35.9v-1.6c0-.5 0-1 .1-1.5.3-1.2 1.3-2 2.5-2h30.7c1.5 0 2.6 1.1 2.6 2.6v2.5z"/></svg>
                        Brands
                    </a>
                </li>
            </ul>

        </nav>

        <header role="heading">
            <img 
                src="/images/header500.jpg" 
                sizes="(min-width: 200px)" 
                srcset="/images/header500.jpg 500w,
                        /images/header1000.jpg 1000w, 
                        /images/header.jpg 1800w">
        </header>

        <div class="inner-wrapper">
            {{{body}}}
        </div>

        <script src="/js/app.js"></script>
        
        <script type="text/javascript">

            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('sw.js', { scope: './' })
                .then(reg => console.info('registered sw', reg))
                .catch(err => console.error('error registering sw', err));
            }


        </script>
    </body>
</html>








